node_modules
supabase/.temp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*

# Environment files (local configs)
.env.*
.env

# Python
__pycache__
.ruff_cache
.venv

# Opencode skills
.opencode/skill